section.descarga .button  {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #209978;
    overflow: hidden;
  }
  
  section.descarga .button, .button__icon, .button__text {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
  
section.descarga .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
    -webkit-transform: translateX(22px);
    -moz-transform: translateX(22px);
    -ms-transform: translateX(22px);
    -o-transform: translateX(22px);
}
  
section.descarga .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(109px);
    -moz-transform: translateX(109px);
    -ms-transform: translateX(109px);
    -o-transform: translateX(109px);
}
  
section.descarga .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  section.descarga .button:hover {
    background: #17795E;
  }
  
  section.descarga .button:hover .button__text {
    color: transparent;
  }
  
  section.descarga .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  section.descarga .button:active .button__icon {
    background-color: #146c54;
  }
  
  section.descarga .button:active {
    border: 1px solid #146c54;
  }



.message {
    font-weight: 600;
    color: blue;
}

.header {
    background: #f4f4f4;
    color: #333;
    height: 60px;
    padding: 10px;
}

.navbar {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar a:hover {
    background: #555;
}

.body-content {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid gray;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    background-color: gray;
}

 .card {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-color: gray;
} 

 .card h2 {
    margin-bottom: 10px;

}
.container {
    margin: 10px;
    text-align: left; /* Centrar los elementos dentro del contenedor */
    background-color: gray;
}

/* .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    width: 100px;
    flex: 1;
    
} */


.task-list {
    padding: 0;
    list-style: none;
}

.task-item {
    margin-bottom: 5px;
}

/* body {

background-color: greenyellow;

} */

 head {
    background: #f4f4f4;
    color: #333;
    height: 60px;
    padding: 10px;
} 

.card-container {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    flex-wrap: wrap;
    
}

/* .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px; /* O el ancho deseado para cada tarjeta 
    background-color: blue;}
     */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
h1, h2 {
    color: #333;
}

/* diseño de la imagen*/

.centered-image {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
}

/* iconos*/

.social-icons-k {
    margin-top: 10px;
}
.social-icons-k a {
    margin-right: 10px;
    text-decoration: none;
    color: blue ;
    font-size: 50px;
}

.pdf-container {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 20px auto; /* Centra el contenedor del PDF */
}

#textoOculto {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* deecarga */
