{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<p>Funcionalidades de cifrado simétrico</p>
<p>A continuación, tenemos dos maneras de cifrar asimétrica-mente, podemos acceder al almacén local de llaves, y cifrar con una pública ahí, o podemos cargar el archivo .key que tengamos nosotros, de una clave, pública o privada para poder cifrar.</p>


<form method="post">

    <select name="stored_key" id="keySelect" disabled>
        <option value="none">
            No Stored Key
        </option>
    </select><br>
    <label for="public_key"> Cargar clave pública para encripta: </label>
    <input type="file" name="public_key">
    <br>

    <label for="uncryptedFile"> Cargar archivo que se desea encriptar: </label>
    <input type="file" name="uncryptedFile">


</form>


<script>

    // Función que se ejecuta al cargar el documento, para obtener una lista de las claves públicas en la base de datos
    $(document).ready(function () {
        console.log("Reload")
        function cargarClaves(){
            // Realizar solicitud ajax al servidor
            $.ajax({
                type: "GET",
                url:"/casimetrico",
                headers:{
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function (response) {
                    // Si la respuesta es la adecuada
                    if (response && response.claves && response.claves.length) {
                        //Carga los nombres de las claves
                        for (var x = 0; x < response.claves.length; x++) {
                            console.log(response.claves[x]);
                            $("#keySelect").append("<option>" + response.claves[x] + "</option>");
                            $("#keySelect").removeAttr("disabled");
                        }

                    } else {
                        console.error("La respuesta no tiene la estructura esperada.");
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        // Llamar a la función cargarClaves al cargar la página
        cargarClaves();
    })
</script>


{% endblock %}