{% extends "layout.html" %}
{% block title %}
C. Simétrico
{% endblock %}
{% block content %}
<h1>Encriptar y desencriptar mensaje con AES</h1>

    <h2>Encriptar Mensaje</h2>
    <form method="post" enctype="multipart/form-data">
        <select id="Cifrados" name="type">
            <option value="AES">
                Cifrado AES
            </option>
            <option value="ChaCha20">
                Cifrado ChaCha20
            </option>
        </select> <br></br>
        <label for="message">Mensaje:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <label for="key">Clave:</label><br>
        <input type="text" id="key" name="key"><br><br>
        <input type="hidden" name="mode" value="encrypt">
        <input type="submit" value="Encriptar">
    </form>

    <h2>Desencriptar Mensaje</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="encrypted_message">Mensaje Encriptado:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <label for="key_decrypt">Clave:</label><br>
        <input type="text" id="key_decrypt" name="key"><br><br>
        <input type="hidden" name="mode" value="decrypt">
        <input type="submit" value="Desencriptar">
    </form>

    {% if decrypted_message %}
        <h2>Mensaje:</h2>
        <p>{{ decrypted_message }}</p>
    {% endif %}
{% endblock %}