{% extends "layout.html" %}
{% block title %}
Documentación
{% endblock %}
{% block content %}

<section>
    <h2>Documento</h2>
    <p>Aquí puedes visualizar nuestro documento en formato PDF:</p>
    <!-- Agrega un iframe para incrustar el PDF -->
    <div class="pdf-container">
        <iframe src="../static/PROYECTO CRIPTOGRAFICO22.pdf" width="100%" height="800px"></iframe>
    </div>
</section>

<section class="boton">
    <a href="../static/PROYECTO CRIPTOGRAFICO22.pdf" target="_blank">
<button class="button">
    
    <span class="button_lg">
        <span class="button_sl"></span>
        <span class="button_text">Descargar aqui</span>
    </span>
    
</button>
</a>
</section>


{% endblock %}
