{% extends "layout.html" %}
{% block title %}
Inicio
{% endblock %}
{% block content %}
<!-- <p>La página de inicio contendrá un enlace a las diferentes funcionalidades de la app</p> -->

<h1><center>Proyecto de Criptografía con Python</center></h1>

  <!-- Agrega una imagen centrada debajo del encabezado -->
  <img src="../static/133874296-protección-de-datos-informáticos-concepto-de-cifrado-de-correo-electrónico-ilustración.jpg" alt="Descripción de la imagen" class="centered-image"/>

<section>
    <h2>Introducción</h2>
    <p>En nuestro proyecto de criptografía, exploramos las dimensiones de la seguridad de la información utilizando los siguientes enfoques:</p>
    <ul>
        <li><strong>Criptografía Simétrica:</strong> Utiliza una clave única para cifrar y descifrar información.</li>
        <li><strong>Criptografía Asimétrica:</strong> Emplea un par de claves, pública y privada, para un intercambio seguro de datos.</li>
        <li><strong>Criptografía Híbrida:</strong> Combina lo mejor de la criptografía simétrica y asimétrica para optimizar la eficiencia y seguridad.</li>
    </ul>
    <p>Nuestro proyecto está diseñado para abordar los desafíos actuales en la protección de datos y garantizar la confidencialidad en la era digital. A continuación, compartimos los avances y desafíos de nuestro proyecto en desarrollo.</p>
</section>

    <section>
        <h2>Criptografía Simétrica</h2>
        <p>La criptografía simétrica utiliza una clave única para cifrar y descifrar la información...</p>
    </section>

    <section>
        <h2>Criptografía Asimétrica</h2>
        <p>La criptografía asimétrica, también conocida como criptografía de clave pública, utiliza un par de claves...</p>
    </section>

    <section>
        <h2>Criptografía Híbrida</h2>
        <p>La criptografía híbrida combina elementos de la criptografía simétrica y asimétrica para aprovechar las fortalezas de ambos...</p>
    </section>

    <section>
        <h2>Proyecto en Desarrollo</h2>
        <p>Actualmente, estamos trabajando en un proyecto que tiene como objetivo...</p>
    </section>

    <section>
        <h2>Avances y Logros</h2>
        <p>Hasta ahora, hemos logrado [menciona algunos hitos y logros]...</p>
    </section>

    <section>
        <h2>Próximos Pasos</h2>
        <p>Nuestros próximos pasos incluyen [detalles sobre futuras etapas del proyecto]...</p>
    </section>

    <section>
        <h2>Llamada a la Acción</h2>
        <p>¡Te invitamos a seguir nuestro progreso y contribuir al proyecto! [Agrega detalles sobre cómo pueden participar]...</p>
    </section>

    <section>
        <h2>Contacto</h2>
        <p>Si tienes alguna pregunta o deseas colaborar, no dudes en ponerte en contacto con nosotros...</p>
        <h2>Kevin Acuña Paredes</h2>
        <div class="social-icons-k">
            <a href="https://twitter.com/KevinAP118" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/kevin.acunaparedes" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/kevin-acu%C3%B1a-62a3ba248/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <!-- Agrega más íconos según tus necesidades -->
        </div>
        <h2>AMykhaylov Krutkova, Oleksandr</h2>
        <div class="social-icons">
            <a href="https://twitter.com/tu_cuenta_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/tu_cuenta_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/tu_cuenta_de_linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
            <!-- Agrega más íconos según tus necesidades -->
        </div>

        <h2>Martín José Morata García</h2>
        <div class="social-icons">
            <a href="https://twitter.com/tu_cuenta_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/tu_cuenta_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/tu_cuenta_de_linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
            <!-- Agrega más íconos según tus necesidades -->
        </div>
    </section>


{% endblock %}